.container{
    padding: 3%;
    background-color: rgba(212, 212, 212, 0.842);
    border: solid #3756df;
    text-align: left;
}

.error-input, .correct-input{
    transition:all .8s ease-in-out;
}

.error-input {
    border: solid red !important;
   
}

.correct-input {
    border:  solid green !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #2662bd !important;
    border-color: #edf035 !important;
}
.center{
    text-align: right;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    /* padding: 5%; */
    background-image: url("./img-general/logo.png");
    /* background-size: cover ;
    background-repeat: no-repeat; */
}