.container-form {
    padding: 3%;
    background-color: rgba(206, 194, 24, 0.948) !important;
    border: solid #ce0cdf !important;
    text-align: left;
    margin: auto !important;
    margin-top: 50px !important;
    max-width: 600px !important;
}