.container {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    background-color: rgb(237, 237, 218) !important;
    border: solid rgba(144, 148, 198, 0.783) !important; 
}

.navbar {
    height: 60px;
    font-size: larger;
    font-weight: 500;
    
}

