.option-container {
  /* width: 1170px; */
  /* height: 368px; */
  /* margin: 10px 10px 50px; */
  border: 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 196, 0, 0.334);
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.nav {
  /* display: inline-block; */
  border-radius: 25px;
  width: 100%;
  text-align: center;
  height: 100%;
  background-color: #e0cc8c;
  border: 1px solid #0025f8;
  /* border: solid rgb(179, 14, 14); */
  box-shadow: 4px 7px #33323291;
}

.nav:hover {
  background-color: #fceb56;
  font-size: 30px;
}
